.container-footer{
    justify-content: center;
    align-items: center;
    display: flex;  
    margin-top: 39%;
    background-color: #5ac71165;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}
.container-footer p{
    padding-bottom: 10px;
}   